<!DOCTYPE html>
<html>
    <% include partials/head.ejs %>

    <body>
      <% include partials/header.ejs %>
    <div class="view-container">

        <h2><%=headings[0]%></h2>
        <h4><%=subHeadings[0]%></h4>
        <p>
            <%
            for (let i = 0; i < 5; i++){
            %>
                <%= quotes[i] %>
            <%
            }
            %>
        </p>

        <h2><%=headings[1]%></h2>
        <h4><%=subHeadings[1]%></h4>
        <p>
            <%
            for (let i = 5; i < 10; i++){
            %>
                <%= quotes[i] %>
            <%
            }
            %>
        </p>

        <p>
            <%
            for (let i = 30; i < 35; i++){
            %>
                <%= quotes[i] %>
            <%
            }
            %>
        </p>
        <p>
            <%
            for (let i = 35; i < 40; i++){
            %>
                <%= quotes[i] %>
            <%
            }
            %>
        </p>
        <h2><%=headings[2]%></h2>
        <h4><%=subHeadings[2]%></h4>
        <p>
            <%
            for (let i = 10; i < 15; i++){
            %>
                <%= quotes[i] %>
            <%
            }
            %>
        </p>



    </div>
    </body>


</html>
